/* .themify_builder_18_row.module_row_0 Style */
.themify_builder_18_row.module_row_0.module_row {
	background-color: #eeeeee;
	padding-top : 60px;
	padding-bottom : 60px
}

/* .themify_builder_18_row.module_row_1 Style */
.themify_builder_18_row.module_row_1.module_row {
	padding-top : 60px
}

/* .themify_builder_18_row.module_row_3 Style */
.themify_builder_18_row.module_row_3.module_row {
	padding-bottom : 60px
}

