/* .themify_builder_24_row.module_row_0 Style */
.themify_builder_24_row.module_row_0.module_row {
	padding-top : 60px;
	padding-bottom : 60px
}

/* .themify_builder_24_row.module_row_1 Style */
.themify_builder_24_row.module_row_1.module_row {
	padding-top : 0px;
	padding-right : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	margin-top : 0px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-left : 0px
}

