/* .themify_builder_5_row.module_row_0 Style */
.themify_builder_5_row.module_row_0.module_row {
	color: #ffffff
}
.themify_builder_5_row.module_row_0.module_row h1 {
	color: #ffffff
}
.themify_builder_5_row.module_row_0.module_row h2 {
	color: #ffffff
}
.themify_builder_5_row.module_row_0.module_row h3:not(.module-title) {
	color: #ffffff
}
.themify_builder_5_row.module_row_0.module_row h4 {
	color: #ffffff
}
.themify_builder_5_row.module_row_0.module_row h5 {
	color: #ffffff
}
.themify_builder_5_row.module_row_0.module_row h6 {
	color: #ffffff
}

.themify_builder .pro-slider-5-0-0-1.module-pro-slider .bsp-slide-excerpt { font-family: Open Sans;  } 
.themify_builder .pro-slider-5-0-0-1.module-pro-slider .bsp-slide-excerpt p { font-family: Open Sans;  } 
/* .themify_builder_5_row.module_row_1 Style */
.themify_builder_5_row.module_row_1.module_row {
	padding-top : 60px
}

/* .themify_builder_5_row.module_row_3 Style */
.themify_builder_5_row.module_row_3.module_row {
	padding-top : 60px
}

/* .themify_builder_5_row.module_row_5 Style */
.themify_builder_5_row.module_row_5.module_row {
	margin-top : 50px
}

